@font-face {
  font-family: "p-b";
  src: url(/fonts/Pretendard-Bold.otf);
}
@font-face {
  font-family: "p-r";
  src: url(/fonts/GowunDodum-Regular.ttf);
}
@font-face {
  font-family: "p-l";
  src: url(/fonts/Pretendard-ExtraLight.otf);
}
* {
  font-family: "p-r";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.float {
  clear: both;
}
.th {
  border: 1px solid red;
}


html {
  font-size: 16px;
}
/* --------------------네비게이션바-------------------- */
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.navbar-logo {
  width: 20%;
}
.navbar-logo img {
  width: 100%;
}
.navbar-sns {
  width: 30%;
  display: flex;
  align-items: center;
}
.navbar-sns ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.sns-list {
  list-style: none;
  text-align: right;
  margin-top: 10px;
}
.sns-list img {
  width: 50%;
}
/* --------------------상담신청 박스-------------------- */
.input-container {
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}
.input-container h1 {
  font-size: 1.5rem;
  color: lightgray;
  text-align: center;
  font-family: "p-r";
  margin-bottom: 20px;
}
/* ---------------------------------- */
.input-first {
  width: 50%;
  padding: 20px;
  border-right: 1px solid lightgray;
}
.input-first h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "p-b";
}
.input-first input {
  width: 99%;
  height: 2.2rem;
  border: 1px solid lightgray;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "p-l";
}
#input-70 {
  width: 78%;
}
.btn-group {
  width: 18%;
}
.input-div-group {
  display: flex;
  justify-content:space-around;
  position: relative;
}
.input-div {
  width: 30%;
  height: 3rem;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  font-size: 1.2rem;
  padding-top: 5px;
}
.btn-outline-primary {
  border: 1px solid #17386B;
  color: #17386B;
}
.btn-check:checked+.btn-outline-primary {
  background-color: #17386B;
  border: 1px solid #17386B;
  box-shadow: none;
}
.btn-check:hover+.btn-outline-primary {
  background-color: #17386B;
  border: #17386B;
  box-shadow: none;
}
.btn-check:checked+.btn-outline-primary:focus {
  background-color: #17386B;
  border: #17386B;
  box-shadow: none;
}
/* ---------------------------------- */
.input-second {
  width: 50%;
  padding: 20px;
}
.input-button {
  display: flex;
  justify-content: center;
}
.input-btn {
  width: 15%;
  margin: 2rem 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.input-btn img {
  width: 85%;
}
.input-check {
  font-size: 1rem;
  margin: 25px 15px;
}
.agree-button {
  background-color: black;
  border: 0;
  color: white;
  font-size: 0.7rem;
  font-family: "p-b";
  padding: 5px;
}
.go-button {
  width: 90%;
  height: 4rem;
  display: block;
  margin: 10px auto;
  text-align: center;
  background-color: #17386B;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  font-family: "p-b";
}
/* --------------------제휴보험사-------------------- */
/* --------------------컨텐츠영역-------------------- */
/* --------------------하단고정바-------------------- */









@media screen and (max-width:991px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 991px;
  }
  .input-container {
    flex-direction: column;
  }
  .input-first {
    width: 100%;
  }
  .input-second {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .container {
    margin: 0;
    padding: 0;
    max-width: 768px;
  }
  .navbar-container {
    padding: 0.8em;
  }
  .navbar-sns ul {
    padding: 0;
  }
  .sns-list {
    margin-top: 5px;
    margin-left: 5px;
  }
  .sns-list img {
    width: 70%;
  }
  .input-container {
    flex-direction: column;
  }
  .input-first {
    width: 100%;
    border: 0;
  }
  .input-second {
    width: 100%;
  }
  #input-70 {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .container {
    padding: 0;
    margin: 0;
    max-width: 480px;
  }
  .navbar-container {
    padding: 0.5em;
  }
  .navbar-sns ul {
    padding: 0;
  }
  .sns-list {
    margin-top: 2px;
    margin-left: 5px;
  }
  .sns-list img {
    width: 65%;
  }
  .input-first h2 {
    font-size: 1.2rem;
  }
  .input-btn {
    margin: 1rem 0.5rem;
  }
  .input-first {
    padding: 10px;
  }
  .input-second {
    padding: 10px;
  }
}