/* Safari 9.0+ */
input, textarea, button { 
  -moz-appearance: none; 
  border-radius: 0; 
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
}

@keyframes blink-effect { 
  50% { opacity: 0; 
  } 
}

@font-face {
  font-family: "p-b";
  src: url(/fonts/Pretendard-Bold.otf);
}
@font-face {
  font-family: "p-r";
  src: url(/fonts/Pretendard-Regular.otf);
}
@font-face {
  font-family: "p-l";
  src: url(/fonts/Pretendard-ExtraLight.otf);
}
* {
  font-family: "p-r";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.float {
  clear: both;
}
.th {
  border: 1px solid red;
}
.span {
  font-family: 'p-b';
  color: #67AFD8;
  transform: scale(1.6)
}


html {
  font-size: 16px;
}
/* --------------------네비게이션바-------------------- */
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.navbar-logo {
  width: 20%;
}
.navbar-logo img {
  width: 100%;
}
.navbar-sns {
  width: 30%;
  display: flex;
  align-items: center;
}
.navbar-sns ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.sns-list {
  list-style: none;
  text-align: right;
  margin-top: 10px;
}
.sns-list:hover {
  transform: scale(1.1);
}
.sns-list img {
  width: 50%;
}
/* --------------------슬라이드 박스-------------------- */
/* --------------------상담신청 박스-------------------- */
.input-container {
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}
.input-container h1 {
  font-size: 1.5rem;
  color: lightgray;
  text-align: center;
  font-family: "p-r";
  margin: 20px 0;
}
/* ---------------------------------- */
.input-first {
  width: 50%;
  padding: 20px;
  border-right: 1px solid lightgray;
}
.input-first h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "p-b";
}
.text-input {
  width: 99%;
  height: 2.2rem;
  border: 1px solid lightgray;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "p-l";
}
#input-70 {
  width: 78%;
  height: 2.2rem;
  border: 1px solid lightgray;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "p-l";
}
.btn-group {
  width: 18%;
}
.input-div-group {
  display: flex;
  justify-content:space-around;
  position: relative;
}
.input-div {
  width: 25%;
  height: 3rem;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  font-size: 1.2rem;
  padding-top: 8px;
  margin-top: 20px;
}
.btn-check:checked+.input-div:focus {
  box-shadow: none;
}
.btn-check:focus+.btn:focus {
  box-shadow: none;
}
.btn-check:checked+.btn:focus {
  box-shadow: none;
}
.btn-check:checked+.input-div {
  box-shadow: none;
  border: 2px solid #17386B;
  background-color: #17386B;
  color: white;
  transform: scale(1.1);
}
.btn-outline-primary {
  border: 1px solid #17386B;
  color: #17386B;
}
.btn-check:checked+.btn-outline-primary {
  background-color: #17386B;
  border: 1px solid #17386B;
  box-shadow: none;
}
.btn-check:hover+.btn-outline-primary {
  background-color: #17386B;
  border: #17386B;
  box-shadow: none;
}
.btn-check:checked+.btn-outline-primary:focus {
  background-color: #17386B;
  border: #17386B;
  box-shadow: none;
}
/* ---------------------------------- */
.input-second {
  width: 50%;
  padding: 20px;
}
.input-button {
  display: flex;
  justify-content: center;
}
.input-btn {
  width: 13%;
  margin: 2rem 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.input-btn:hover {
  border: 2px solid #17386B;
}
.input-btn:focus {
  border: 2px solid #17386B;
  transform: scale(1.2);
}
.input-btn:active {
  border: 2px solid #17386B;
  transform: scale(1.2);
}
.input-check {
  font-size: 1rem;
  margin: 18px 15px;
}
.agree-button {
  background-color: black;
  border: 0;
  color: white;
  font-size: 0.7rem;
  font-family: "p-b";
  padding: 5px;
}
.go-button {
  width: 90%;
  height: 4rem;
  display: block;
  margin: 10px auto;
  text-align: center;
  background-color: #17386B;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  font-family: "p-b";
}
.go-button:hover {
  transform: scale(1.1);
}
/* --------------------제휴보험사-------------------- */
.subslide-container {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.subslide-container h1 {
  font-size: 3rem;
  font-family: 'p-b';
  margin: 50px 0;
}
/* --------------------컨텐츠영역-------------------- */
.main-content-first {
  margin: 10rem 0;
}
.main-first-txt {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}
.main-first-txt h1 {
  font-size: 5rem;
  font-family: 'p-b';
}
.main-first-txt h2 {
  font-size: 3rem;
  font-family: 'p-b';
}
.main-first-img {
  margin: 5rem 0;
}
.main-first-img img {
  width: 100%;
}
/* ------------------------------ */
.main-content-second {
  text-align: center;
  margin: 10rem 0;
  text-align: center;
}
.main-second-txt h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'p-b';
}
.main-second-txt p {
  font-size: 2rem;
}
.main-second-img {
  width: 100%;
  margin: 5rem 0;
}
/* ------------------------------ */
.main-underbar {
  width: 100%;
  padding: 30px;
  background-color: rgb(232, 232, 232);
}
.main-underbar h1 {
  font-size: 1.5rem;
  font-family: "p-b";
  margin-bottom: 20px;
}
.main-underbar ul {
  padding-left: 15px;
}
.main-underbar li {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.main-underbar h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-family: "p-b";
}
/* --------------------하단고정바-------------------- */
.fixbar {
  width: 100%;
  background-color: #17386B;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 9;
}
.fixbar p {
  margin: 0;
  animation: blink-effect 1.5s step-end infinite;
}
.fixbar a {
  font-family: 'p-b';
  text-decoration: none;
  font-size: 35px;
  color: white;
}
/* --------------------하단 푸터-------------------- */
footer {
  width: 100%;
  height: 350px;
  background-color: #3b3b3b;
  padding: 2rem;
}
footer p {
  color: rgb(239, 238, 238);
  margin: 0;
  font-size: 1.2rem;
}







@media screen and (max-width:991px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 991px;
  }
  .input-container {
    flex-direction: column;
  }
  .input-first {
    width: 100%;
    border: 0;
  }
  .input-second {
    width: 100%;
  }
  .subslide-container h1 {
    font-size: 2rem;
  }
  .fixbar {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .container {
    margin: 0;
    padding: 0;
    max-width: 768px;
  }
  .navbar-container {
    padding: 0.8em;
  }
  .navbar-sns ul {
    padding: 0;
  }
  .sns-list {
    margin-top: 5px;
    margin-left: 5px;
  }
  .sns-list img {
    width: 70%;
  }
  .input-container {
    flex-direction: column;
  }
  .input-first {
    width: 100%;
    border: 0;
  }
  .input-second {
    width: 100%;
  }
  #input-70 {
    width: 80%;
  }
  .input-btn {
    width: 15%;
    margin: 1rem 0.5rem;
  }
  .main-underbar {
    padding: 10px;
  }
  .main-underbar li {
    font-size: 1rem;
  }
  .main-underbar h3 {
    font-size: 1.3rem;
  }
  footer {
    padding: 1rem;
    height: 280px;
  }
  footer p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .container {
    padding: 0;
    margin: 0;
    max-width: 480px;
  }
  .navbar-container {
    padding: 0.5em;
  }
  .navbar-logo {
    width: 30%;
  }
  .navbar-sns {
    width: 40%;
  }
  .navbar-sns ul {
    padding: 0;
  }
  .sns-list {
    margin-top: 2px;
    margin-left: 5px;
  }
  .sns-list img {
    width: 65%;
  }
  .input-first h2 {
    font-size: 1.2rem;
  }
  .input-btn {
    width: 15%;
    margin: 1rem 0.5rem;
  }
  .input-first {
    padding: 10px;
    border: 0;
  }
  .input-second {
    padding: 10px;
  }
  .input-div {
    width: 30%;
  }
  .subslide-container h1 {
    margin: 30px 0;
  }
  .main-first-txt h1 {
    font-size: 3rem;
  }
  .main-first-txt h2 {
    font-size: 2rem;
  }
  .main-second-txt h2 {
    font-size: 2rem;
  }
  .main-second-txt p {
    font-size: 1.5rem;
  }
 .main-second-img img {
  width: 60%; 
 }
 .main-underbar {
   padding: 7px;
 }
 .main-underbar h1 {
   font-size: 1.3rem;
 }
 .main-underbar li {
   font-size: 0.8rem;
 }
 .main-underbar h3 {
   font-size: 1rem;
 }
 footer {
   padding: 1rem;
   height: 220px;
 }
 footer p {
   font-size: 0.7rem;
 }
.fixbar {
  padding: 10px;
}
 .fixbar p {
   font: 13px;
 }
 .fixbar a {
   font-size: 23px;
 }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 300px;
  }
  .main-underbar li {
    font-size: 0.2rem;
  }
}